@model IEnumerable<Lab01.SANPHAM>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<a class="btn btn-primary btn-lg" role="button" href="/Home/ThanhToan">Thanh toán</a>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card">
                <img src="https://clickbuy.com.vn/uploads/2019/04/bphone-3-den.png" class="card-img-top" width="300px" alt="@item.TenSP">
                <div class="card-body">
                    <h5 class="card-title">@item.TenSP</h5>
                    <b>Giá: @item.GiaSP USD</b>
                    <p class="card-text">@item.MoTa</p>
                    <button class="btn btn-primary" onclick="themVaoGio(@item.IdSP)">Thêm vào giỏ</button>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function themVaoGio(id)
    {
        var cookieName = "sanpham"+id;
        var soluong = 1;
        if (getCookie(cookieName) != "") soluong = parseInt(getCookie(cookieName)) + 1;
        setCookie(cookieName, soluong, 365);
        alert("Trong giỏ hàng đã có " + soluong + " sản phẩm này");
    }

    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

</script>